.orbs-wrapper {
	position: fixed;
	inset: 0;
	pointer-events: none;
	overflow: hidden;
}

.orb {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	rotate: 15deg;
	filter: blur(16px);
	mix-blend-mode: plus-lighter;
	background: linear-gradient(
		180deg,
		oklch(60% 54% 290deg) 0%,
		oklch(92% 10% 296deg) 48%,
		oklch(44% 57% 285deg) 68%,
		oklch(23% 37% 268deg) 100%
	);
	z-index: -1;
	box-shadow: 0px 0px 120px -10px oklch(44% 57% 285deg);
	animation: 3s up-n-down infinite;
	translate: -20% 20%;
}
