.orbs-wrapper {
	position: fixed;
	inset: 0;
	pointer-events: none;
	overflow: hidden;
}

.orb {
	position: absolute;
	border-radius: 50%;
	rotate: 15deg;
	filter: blur(16px);
	mix-blend-mode: plus-lighter;
	background: linear-gradient(
		180deg,
		oklch(60% 54% 290deg) 0%,
		oklch(92% 10% 296deg) 48%,
		oklch(44% 57% 285deg) 68%,
		oklch(23% 37% 268deg) 100%
	);
	z-index: -1;
	box-shadow: 0px 0px 120px -10px oklch(44% 57% 285deg);
	animation: 3s up-n-down infinite;
	translate: -20% 20%;

	&--teal {
		background:
			radial-gradient(26% 42% at 42% -3%, #b7dfd9 0%, #073aff00 100%),
			radial-gradient(18% 69% at 98% 41%, #b7dfd9 7%, #073aff00 100%),
			radial-gradient(24% 35% at 46% 104%, #b7dfd9d4 0%, #073aff00 100%),
			linear-gradient(50deg, #000336 1%, #247170ff 31%, #329b99ff 53%);
		box-shadow: 0 0 140px -10px rgba(50, 155, 153, 0.45);
		filter: blur(14px) saturate(120%);
	}

	&--light {
		background: linear-gradient(
			45deg,
			oklch(0.86 0.13 75) 20%,
			oklch(0.74 0.12 285) 30%,
			oklch(0.68 0.16 25) 10%,
			oklch(0.74 0.12 285) 80%
		);

		box-shadow: 0 0 140px -10px rgba(168, 154, 250, 0.45);
		filter: blur(16px) saturate(120%);
	}

	&--amber {
		background:
			radial-gradient(
				31% 38% at 12% -6%,
				oklch(70% 35% 15deg) 0%,
				oklch(0% 0% 0deg / 0%) 100%
			),
			radial-gradient(
				15% 37% at 29% 107%,
				oklch(78% 28% 65deg) 3%,
				oklch(0% 0% 0deg / 0%) 100%
			),
			linear-gradient(
				50deg,
				oklch(78% 28% 65deg) 7%,
				oklch(70% 35% 15deg) 26%,
				oklch(62% 22% 280deg) 51%
			);
		box-shadow: 0 0 140px -10px rgba(246, 126, 126, 0.45);
		filter: blur(14px) saturate(120%);
	}

	&--blue {
		background: linear-gradient(
			40deg,
			oklch(0.68 0.1 275) 50%,
			oklch(0.58 0.17 255) 40%,
			oklch(0.83 0.06 250) 10%
		);
		box-shadow: 0 0 140px -10px rgba(142, 144, 218, 0.45);
		filter: blur(16px) saturate(120%);
	}

	&--purple {
		background: linear-gradient(
			180deg,
			oklch(0.23 0.18 315) 10%,
			oklch(0.94 0.05 325) 70%,
			oklch(0.71 0.07 320) 10%
		);
		box-shadow: 0 0 140px -10px rgba(254, 234, 254, 0.45);
		filter: blur(16px) saturate(120%);
	}
}
