@import '../styles/functions.scss';
@import '../variables';

.home {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	&__title {
		position: absolute;
		bottom: 0;
		z-index: 3;
		padding: 5rem;
		font-size: 100px;
		font-weight: 700;
		text-align: start;
		color: #333333;
		line-height: 80px;
		letter-spacing: -0.04em;
		user-select: none;
		text-transform: uppercase;
		white-space: pre-line;

		@media (min-width: $layout-XL-width-desktop) {
			font-size: 140px;
			line-height: 110px;
		}
	}

	&__body {
		position: absolute;
		top: 12rem;
		z-index: 2;
		margin: 5rem 0 0 5rem;
		padding: 2rem;
		display: flex;
		width: 28rem;

		background-color: rgba(255, 255, 255, 0.38);
		background: repeating-linear-gradient(
			45deg,
			rgba(255, 255, 255, 0.5),
			rgba(0, 0, 0, 0.1),
			rgba(255, 255, 255, 0.4) 1px
		);
		backdrop-filter: blur(25px);
		filter: blur(0.5px);
		border-radius: 8px;
		mix-blend-mode: darken;

		@media (min-width: $layout-s-width-desktop) {
			width: 35rem;
		}

		@media (min-width: $layout-XL-width-desktop) {
			width: 50rem;
		}

		& > .MuiTypography-root {
			@include custom-font($font-primary, 34px, 500, start, #333333, 32px);
			white-space: pre-line;
			mix-blend-mode: darken;
		}
	}

	&__image {
		height: 19rem;
		cursor: pointer;
		user-select: none;
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
		border-radius: 8px;

		@media (min-width: $layout-m-width-desktop) {
			height: 20rem;
		}

		@media (min-width: $layout-XL-width-desktop) {
			height: 25rem;
		}

		&--mobile {
			height: 25rem;
		}

		&-container {
			position: absolute;
			width: 38rem;
			top: 15rem;
			right: 0;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (min-width: $layout-s-width-desktop) {
				width: 40rem;
				right: 3rem;
			}

			@media (min-width: $layout-XL-width-desktop) {
				width: 50rem;
				right: 5rem;
			}
		}
	}
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	backdrop-filter: blur(20px);
	filter: blur(0.5px);

	&::after {
		content: '';
		position: absolute;
		width: calc(100% - 1px);
		height: calc(100% - 1px);
		filter: blur(2px);
		background: repeating-linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(0, 0, 0, 0.1),
			rgba(255, 255, 255, 0.4) 5px
		);
	}
}
