@import '../styles/functions.scss';
@import '../variables';

.home {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	&__title {
		position: absolute;
		bottom: 0;
		z-index: 3;
		padding: 5rem;
		@include custom-font($font-secundary, 140px, 700, start, #333333, $line: 110px);
		letter-spacing: -0.04em;
		user-select: none;
	}
}

.background {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	mix-blend-mode: color-dodge;
	z-index: 1;
	backdrop-filter: blur(20px);
	filter: blur(0.5px);

	&::after {
		content: '';
		position: absolute;
		width: calc(100% - 1px);
		height: calc(100% - 1px);

		filter: blur(2px);
		background: repeating-linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.5),
			rgba(0, 0, 0, 0.1),
			rgba(255, 255, 255, 0.4) 5px
		);
	}
}
