@import '../../styles/functions.scss';
@import '../../variables';

.header {
	flex-direction: row;
	justify-content: space-between;
	width: 93vw;
	padding: 3rem;
	position: absolute;
	gap: 5rem;
	z-index: 3;

	&__label {
		@include custom-font($font-primary, 30px, 400, start, #333333);
		justify-content: start;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			width: 100%;
			height: 2px;
			background-color: #333333;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.25s ease;
		}

		&:hover::after {
			transform: scaleX(1);
		}
	}

	.MuiBox-root {
		flex: 1;
		display: flex;
	}

	&__button {
		flex: 1;
		z-index: 99;
		transition: transform 0.3s ease;
		overflow: visible;
		position: absolute;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			width: 100%;
			height: 2px;
			background-color: #333333;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform 0.25s ease;
		}

		&:hover::after {
			transform: scaleX(1);
		}

		& > .MuiTypography-root {
			@include custom-font($font-primary, 30px, 400, start, #333333);
		}
	}

	&__bubble {
		position: fixed;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		background: white;

		filter: blur(1px);
		border-radius: 50%;
		z-index: 10;

		&__body {
			position: fixed;
			inset: 0;
			z-index: 20;
			display: flex;
			flex-direction: row;
			align-items: start;
			justify-content: start;
			pointer-events: none;
			height: 20rem;
			padding: 5rem;
			margin-top: 5rem;
			gap: 5rem;

			&__content {
				display: flex;
				justify-content: start;
				align-items: start;
				height: fit-content;
				gap: 0.4rem;

				&__year {
					@include custom-font($font-primary, 60px, 400, center, #333333, 50px);
					height: fit-content;
					margin-bottom: 1rem;
				}

				&__project {
					@include custom-font($font-secundary, 20px, 700, start, #333333);
					background-color: transparent;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 2px;
						width: 100%;
						height: 2px;
						background-color: currentColor;
						transform: scaleX(0);
						transform-origin: left;
						transition: transform 0.25s ease;
					}

					&:hover::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
}
