// MediaQueries Layout Size Width
$layout-xs-width-desktop: 1280px;
$layout-s-width-desktop: 1366px;
$layout-m-width-desktop: 1440px;
$layout-l-width-desktop: 1600px;
$layout-X-width-desktop: 1680px;
$layout-XL-width-desktop: 1920px;

// MediaQueries Layout Size Height
$layout-xs-height-desktop: 600px;
$layout-s-height-desktop: 740px;
$layout-m-height-desktop: 900px;
$layout-l-height-desktop: 1080px;
$layout-X-height-desktop: 1200px;
